.story {
  &__pictures {
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-position: center;
    background-size: cover;
  }

  &__img {
    width: 100%;
    &--1 {
      grid-column: 2/6;
      grid-row: 2 / span 4;
    }
    &--2 {
      grid-column: 4/-1;
      grid-row: 3 / span 4;
      width: 115%;
    }
  }

  &__content {
    background-color: rgba($color-grey-dark-2, 0.1);
    grid-column: col-end 4 / -1;
    display: grid;
    justify-items: start;
    align-content: center;
    padding: 6rem 8vw;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
